html, body{
    min-height: 100%;
    background-color: rgb(44, 47, 58);
    overflow: hidden;
}

*{
    font-family:Arial, Helvetica, sans-serif
}

/* NAVIGATION  UNIVERSAL*/
.navigation{
    width: 100%;
    height: 70px;
    background-color: rgb(44, 47, 58);
    padding-bottom: 10px;
    border: 1px solid;
        /*      x  | y | blur | spread | color  */
    box-shadow: 1px  1px 20px     2px    #83e2b2;
}
ul 
{
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
}
ul h1{
    float:left;
    color: white;
    margin-bottom: 5px;
}
ul h1:hover {
    color: #83e2b2;
    cursor: pointer;
}
ul li
{
	display: inline;
    padding-right: 50px;
    float: right;
}
ul li a
{
    text-decoration: none;
    color: white;
}
ul li a:hover
{
    text-decoration: none;
    color: #83e2b2;
}

/* timeline HOME PAGE*/

.flow{
    overflow-y: scroll;
    margin: auto;
    margin-top: 4%;
    width: 900px;
    height: 800px;
    border-top: 2px solid rgb(47, 51, 63);
    border-left: 2px solid rgb(47, 51, 63);
    border-right: 2px solid rgb(47, 51, 63);
}

.post{
    width: 100%;
    height: 20%;
    border-bottom: 2px solid rgb(47, 51, 63);
    padding: 12px;
    margin-bottom: 20px;
}

.post .left{
float: left;
width: 12%;
height: 100%;
border-right: 2px solid rgb(47, 51, 63);
}

.post .left .top{
    width: 100%;
    height: 60%;
}

.post .left .top h3
{
    margin-top: 20px;
    font-size:1em;
    color: white;
}

.post .left .top h3:hover
{
    margin-top: 20px;
    font-size:1em;
    color: #83e2b2;
}
.post .right{
width: 87%;
float:right;
height: 100%;
}

#post-top{
width: 100%;
height: 70%;
border-bottom: 2px solid rgb(47, 51, 63);
color: white;
}

#post-bottom{
width: 100%;
height: 29%;
}


#post-bottom button
{
background: none;
border: none;
color: white;
margin-top: 10px;
}

#post-bottom label
{
background: none;
border: none;
color: white;
margin-left: 50px;
margin-top: 10px;
}

#post-bottom label:hover{
    color: #83e2b2;
}

#post-bottom button:hover
{
color:#83e2b2;
}

/* Search Page */
.Emission_Line{
    margin: auto;
    width: 1200px;
    height: 40px;
}

.searchBox{
width: 30%;
height: 40px;
margin: auto;
}

.searchBox input{
    width: 100%;
    height: 100%;
    text-align: center;
    background: none;
    background-color: rgb(51, 54, 65);
    border: none;
    padding: 10px;
    border-radius: 25px;
    word-wrap: break-word;
    text-decoration: none;
    outline: none;
    color: white;
}

.searchBox input:focus{
    color: #83e2b2;
}

.searchBox input:focus::placeholder{
    color: #83e2b2;
}

#item{
    overflow: hidden;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid rgb(47, 51, 63);
}

#item #left{
    overflow: hidden;
    width: 15%;
    height: 100%;
    float: left;
    padding-top: 20px;
    padding-left: 12px;
    border-right: 2px solid rgb(47, 51, 63);
}

#s_info{
    width: 85%;
    height: 100%;
    float: right;
    overflow: hidden;
}
#s_info h2{
    color: white;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 1.2em;
}

#s_info h2:hover{
    color: #83e2b2;
    cursor:pointer;
}

#s_info_btns{
    margin-top: -34px;
    margin-right: 40px;
    float:right;
    
}

#s_info_btns a{
    width: 20px;
    height: 20px;
    color: white;
    padding: 10px;
    border: 2px solid rgb(47, 51, 63);
    border-radius: 25px;
    background-color: rgb(46, 48, 54);
    text-decoration: none;
}

#s_info_btns a:hover{
    border: 2px solid #83e2b2;
    color: #83e2b2;
}

.ResultBox{
    margin: auto;
    margin-top: 2%;
    width: 42%;
    height: 640px;
    overflow-y: scroll;
    border-top: 3px solid rgb(47, 51, 63);
    border-left: 3px solid rgb(47, 51, 63);
    border-right: 3px solid rgb(47, 51, 63);
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: #83e2b2;
}


