html, body{
    min-height: 100%;
    background-color: rgb(44, 47, 58);
    overflow: hidden;
}

*{
    font-family: 'Poppins', sans-serif;
}


/* NAVIGATION  UNIVERSAL*/
.navigation{
    width: 100%;
    margin: auto;
    height: 70px;
    background-color: rgb(44, 47, 58);
    padding-bottom: 10px;
    border: 1px solid;
        /*      x  | y | blur | spread | color  */
    box-shadow: 1px  1px 20px     2px    #83e2b2;
}
ul
{
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
}
ul h1{
    float:left;
    color: white;
    margin-bottom: 5px;
}
ul h1:hover {
    color: #83e2b2;
    cursor: pointer;
}
ul li
{
	display: inline;
    padding-right: 50px;
    float: right;
}
ul li a
{
    text-decoration: none;
    color: white;
}
ul li a:hover
{
    text-decoration: none;
    color: #83e2b2;
}

/* timeline HOME PAGE*/

.flow{
    overflow-y: scroll;
    margin: auto;
    margin-top: 4%;
    width: 900px;
    height: 800px;
    border-top: 2px solid rgb(47, 51, 63);
    border-left: 2px solid rgb(47, 51, 63);
    border-right: 2px solid rgb(47, 51, 63);
}

.post{
    width: 100%;
    height: 20%;
    border-bottom: 2px solid rgb(47, 51, 63);
    padding: 12px;
    margin-bottom: 20px;
}

.post .left{
float: left;
width: 12%;
height: 100%;
border-right: 2px solid rgb(47, 51, 63);
}

.post .left .top{
    width: 100%;
    height: 60%;
}

.post .left .top h3
{
    margin-top: 20px;
    font-size:1em;
    color: white;
}

.post .left .top h3:hover
{
    margin-top: 20px;
    font-size:1em;
    color: #83e2b2;
}
.post .right{
width: 87%;
float:right;
height: 100%;
}

#post-top{
width: 100%;
height: 70%;
border-bottom: 2px solid rgb(47, 51, 63);
color: white;
}

#post-bottom{
width: 100%;
height: 29%;
}


#post-bottom button
{
background: none;
border: none;
color: white;
margin-top: 10px;
}

#post-bottom label
{
background: none;
border: none;
color: white;
margin-left: 50px;
margin-top: 10px;
}

#post-bottom label:hover{
    color: #83e2b2;
}

#post-bottom button:hover
{
color:#83e2b2;
}


.comments{
    width: 100%;
    height: auto;
    display: none;
    border-bottom: 2px solid rgb(47, 51, 63);
}

.PostComment{
    margin: auto;
    width: 83%;
    height: 60px;
    margin-bottom: 16px;
    border-bottom: 2px solid rgb(47, 51, 63);
}

#commentPost{
    float: right;
    width: 12%;
    height: 55px;
    border-radius: 15px;
    color: white;
    padding: 10px;
    border: 2px solid rgb(47, 51, 63);
    background-color: rgb(46, 48, 54);
    text-decoration: none;
}

#commentPost:hover{
    border: 2px solid #83e2b2;
    color: #83e2b2;
}

.textAreaComment{
    background: none;
    border: none;
    float: left;
    resize: none;
    height: 55px;
    background-color: rgb(51, 54, 65);
    border: none;
    padding: 10px;
    border-radius: 15px;
    word-wrap: break-word;
    text-decoration: none;
    outline: none;
    color: white;
}

.C_item{
    width: 100%;
    height: auto;
    display: inline-block;
}

.C_item h2{
    margin-left: 20px;
    padding-bottom: 10px;
    font-size: 1.2em;
    color: white;
    float:left;
     margin-right: 20px
}

.C_item p{
    justify-content:center;
    color: white;
}

.C_item p:hover{
    color:#83e2b2;
}

.C_item h2:hover{
    color: #83e2b2;
}

.cmtLine{
    width: 100%;
    height: 1px;
    border-bottom: 2px solid rgb(47, 51, 63);
}

/* Search Page */
.Emission_Line{
    margin: auto;
    width: 1200px;
    height: 40px;
}

.searchBox{
width: 30%;
height: 40px;
margin: auto;
}

.searchBox input{
    width: 100%;
    height: 100%;
    text-align: center;
    background: none;
    background-color: rgb(51, 54, 65);
    border: none;
    padding: 10px;
    border-radius: 25px;
    word-wrap: break-word;
    text-decoration: none;
    outline: none;
    color: white;
}

.searchBox input:focus{
    color: #83e2b2;
}

.searchBox input:focus::placeholder{
    color: #83e2b2;
}

#item{
    overflow: hidden;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid rgb(47, 51, 63);
}

#item #left{
    overflow: hidden;
    width: 15%;
    height: 100%;
    float: left;
    padding-top: 20px;
    padding-left: 12px;
    border-right: 2px solid rgb(47, 51, 63);
}

#s_info{
    width: 85%;
    height: 100%;
    float: right;
    overflow: hidden;
}
#s_info h2{
    color: white;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 1.2em;
}

#s_info h2:hover{
    color: #83e2b2;
    cursor:pointer;
}

#s_info_btns{
    margin-top: -34px;
    margin-right: 40px;
    float:right;

}

#s_info_btns a{
    width: 20px;
    height: 20px;
    color: white;
    padding: 10px;
    border: 2px solid rgb(47, 51, 63);
    border-radius: 25px;
    background-color: rgb(46, 48, 54);
    text-decoration: none;
}

#s_info_btns a:hover{
    border: 2px solid #83e2b2;
    color: #83e2b2;
}

.ResultBox{
    margin: auto;
    margin-top: 2%;
    width: 42%;
    height: 640px;
    overflow-y: scroll;
    border-top: 3px solid rgb(47, 51, 63);
    border-left: 3px solid rgb(47, 51, 63);
    border-right: 3px solid rgb(47, 51, 63);
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: #83e2b2;
}


/* PROFILE PAGE */


.P_Main{
    width: 90%;
    height: 800px;
    margin: auto;
    margin-top: 60px;
}

.P_left{
    float: left;
    width: 45%;
    height: 100%;
}

.P_right{
    float:right;
    width: 45%;
    height: 100%;
    background-color: aqua;
}

.P_L_T{
    width: 100%;
    height: 55%;
    padding-top: 16px;
}

.line{
  width: 100%;
  height: 1px;
  background-color: #83e2b2;
  margin-top: 8px;
}

.P_text{
  margin-left: 14px;
  width: 50%;
  float:left;
}

.P_text_right{
    float:right;
    width: 40%;
    height: 100px;
    margin-top: 90px;
}

#bannerColor-btn{
    
  float:right;
  margin-right: 14px;
  margin-top: 20px;
  border-radius: 12px;
  font-size: 1.5em;
  background-color: rgb(51, 54, 65);
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  border: none;
}

#bannerColor-btn:hover{
    color: #83e2b2;
}

.P_L_T_I{
    overflow: hidden;
    width: 26%;
    margin-left: 2%;
    height: 48%;
}

.P_L_T_S{
    width: 100%;
    height: 53%;
    background-color: rgb(35, 36, 41);
}

.P_L_B{
    width: 100%;
    height: 45%;
}

.P_text h2{
color: white;
}

.P_text h7{
color: white;
}

.P_text p{
color: white;
}

/* hover color */

.P_text h2:hover{
color: #83e2b2;
}

.P_text h7:hover{
color: #83e2b2;
}

.P_text p:hover{
color: #83e2b2;
}

#interact-btn{

  float:right;
  margin-right: 14px;
  margin-top: 20px;
  border-radius: 12px;
  background-color: rgb(51, 54, 65);
  padding: 6px;
  color: white;
  border: none;
}

#interact-btn:hover{
color: #83e2b2;
}

#edit-btn{
    float:right;
    margin-right: 14px;
    border-radius: 12px;
    background-color: rgb(51, 54, 65);
    padding: 6px;
    color: white;
    border: none;
}

#edit-btn:hover{
  color: #83e2b2;
}


.PostBox{
    width: 100%;
    height: 84%;
    margin: 32px auto;
    background-color: rgb(35, 36, 41);
}

.textAreaPost{
    background: none;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    color:white;
}

#extrabtns-post{
    float:left;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgb(51, 54, 65);
    color:#83e2b2;
}

#postbtn-profile{
    float:right;
    margin-top: 10px;
    margin-right: 10px;
    background-color: rgb(51, 54, 65);
    color:#83e2b2;
}

#imageController{
    float: left;
    margin-top: 16px;
    margin-left: 14px;
    color: white;
}

.post_top{
width: 100%;
height: 240px;
background: none;
}

#labelPic{
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}

#labelPic:hover{
    color:#83e2b2;
}

.post_bottom{
width: 100%;
height: 20px;

}

/* TOPICS */
.topic_Header
{
    width: 100%;
    height: 50px;
    
    margin: auto;
    border-bottom: 1px solid #293c47;
}

.topic_header_text{
    width: 40%;
    height: 50px;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: white;
}

.topic_header_text:hover{
    color: #83e2b2;
    cursor: pointer;
}


/* LOGIN PAGE */

.login
{
    /* size */
    overflow: hidden;
    width: 30%;
    height: 540px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* css */
    background-color: rgba(51, 54, 65, 0.315);
    border: 1px solid;
    /*      x  | y | blur | spread | color  */
    box-shadow: 1px  1px 20px     2px    #83e2b2;
    border-radius: 12px;
    padding: 6px;
}

.login_top{
    width: 100%;
    height: 20%;
}

.login_top h2{
    color: white;
    font-size: 2.5em;
    padding-top: 40px;
text-align: center;
}


.login_top p{
    color: white;
    font-size: 1.5em;
text-align: center;
}

.login_bottom{
    width: 100%;
    height: 70%;
}

.formController{
    width: 50%;
    margin: 20px auto;
    height: 100%;
}

.formController p{
    text-align: center;
    font-size: 1.1em;
    color: red;
}

.formController input{
    width: 100%;
    margin-top: 20px;
    height: 64px;
    background: none;
    border: none;
    color: white;
    border-bottom: 1px solid white;
}

input:focus {
    color: #83e2b2;
    border-bottom: 1px solid rgb(176, 177, 177);
    outline: none !important;
}


#login-btn{
    border-radius: 12px;
    border: none;
    height: 60px;
    background-color: #96e6be8c;
}

#login-btn:hover{
    background-color: #83e2b2;
}

.links{
    position: absolute;
    bottom: 100px;
    width: 32%;
    height: 80px;
    align-items: center;
    text-align: center;
    left: 34%;
}

#signup-a{
font-size: 1.5em;
}

#cantLogin-a{
font-size: 1em;
color: rgb(139, 139, 139);
}


#cantLogin-a:hover{
    color:#83e2b2;
}



/* Edit Profile */

.edit-img
{
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.edit-img:hover{
    opacity: 0.5;
}

.middle:hover{
    opacity: 1;
}

.text{
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}