html, body{
    min-height: 100%;
    background-color: rgb(44, 47, 58);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Poppins', sans-serif;
}

.content{
    width: 100%;
    height: 100vh;
}

.chatbox{
    /* size */
    margin: 0;
    width: 40%;
    height: 90%;

    /* position */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    /* Style */
    background-color: rgb(52, 55, 66);
    border-radius: 15px;
    -webkit-box-shadow: 2px 5px 15px 7px #3DFFB6; 
    box-shadow: 2px 5px 15px 7px #3DFFB6;
}

.chatbox .boxheader{
    position:relative;
    width: 100%;
    height: 10%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 2px solid rgb(42, 44, 53);
}


.chatbox .chat-display{
    background-color: rgb(43, 45, 54);
    position:relative;
    width: 100%;
    height: 80%;
}

.chatbox .chat-controls{
    position:absolute;
    width: 100%;
    height: 9%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    border-top: 2px solid rgb(42, 44, 53);
}

.user-name{
    /* position */
    color: white;
    font-size: 2em;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


.msg-img{
    position: absolute;
    top: 56%;
    left: 38%;
    border-radius: 50px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


.chat-text-area{
    width: 90%;
    background-color: rgb(52, 55, 66);
    height: 80%;
    color: whitesmoke;
    resize: none;
    border:none;
}

.chat-text-area::placeholder{
    color:whitesmoke;
}

.chat-send-btn{
    border: none;
    background: none;
    color: white;
    position:absolute;
    width: 10%;
    height: 100%;
}

.chat-send-btn:hover{
    background-color: rgb(93, 97, 110);
}

/* buttons */

.chat-Return{
    background: none;
    outline: none;
    border: none;
    color:white;
    width: 16%;
    height: 40%;
    background-color: #47806a;

    position: absolute;
    top: 50%;
    left: 10%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}
.chat-Return:hover{
    background-color: #2b4239;
}
.chat-Return:active{
    background-color: #47806a;
}