body, html {
    width: 100%;
    height: 90vh;
    padding: 0;
    margin: 0;
    background: #192d38;
    background: radial-gradient(ellipse at center,#192d38 0,#211f2f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#192d38",endColorstr="#211f2f",GradientType=1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    font-weight: 300;
}


#profileimg {
    border-radius: 50%;
    width: 120px;
    height: 120px; 
}

#squareIMG {
    border-radius: 6px;
    width: 110px;
    height: 110px; 
    margin: 4%;
}

#iconIMG{
    border-radius: 50%;
    width: 60px;
    height: 60px; 
}